기초통계량 살펴보기
- 05장 실습파일에서 survey.csv 파일 불러오기

In [1]:
import os, re

In [2]:
import pandas as pd

In [8]:
os.chdir(r'C:\Users\AI06\Desktop\Python\Pandas\do-it-python\05')

In [9]:
df2 = pd.read_csv('survey.csv')

#### 1. 데이터 살펴보기

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sex              23 non-null     object
 1   income           23 non-null     int64
 2   English          23 non-null     int64
 3   jobSatisfaction  23 non-null     int64
 4   stress           23 non-null     int64
dtypes: int64(4), object(1)
memory usage: 1.0+ KB

In [12]:
df2.mean()

income             4304.217391
English             608.695652
jobSatisfaction       3.304348
stress                3.347826
dtype: float64

In [13]:
df2.income.mean()

4304.217391304348

In [14]:
df2.income.sum()

98997

In [16]:
df2.income.median()  # 중앙값 반환

4999.0

In [18]:
df2.describe()

# count : 데이터 개수
# mean : 평균
# std : 표준편차

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [19]:
df2.income.describe()

count      23.000000
mean     4304.217391
std      1019.478341
min      3000.000000
25%      3000.000000
50%      4999.000000
75%      5000.000000
max      6000.000000
Name: income, dtype: float64

### 2. 기초 통계량 분석하기

#### 2-1. 빈도 분석하기

In [21]:
df2.sex.value_counts()

m    14
f     9
Name: sex, dtype: int64

#### 2-2. 두 집단 평균 구하기 : groupby()

In [23]:
df2.groupby(df2.sex).mean()  # 남성과 여성으로 분류한 다음 각각의 평균 구하기

          income     English  jobSatisfaction    stress
sex
f    4333.111111  633.333333         3.666667  3.111111
m    4285.642857  592.857143         3.071429  3.500000

# 5-6. 실전 통계 분석
- SciPy 패키지로 t검정(t-test)

In [25]:
from scipy import stats

In [27]:
male = df2.income[df2.sex=='m']
female = df2.income[df2.sex=='f']

In [29]:
ttest_result = stats.ttest_ind(male, female)

In [31]:
ttest_result  # p-value 값 반환

Ttest_indResult(statistic=-0.10650308143428423, pvalue=0.9161940781163369)

In [38]:
# 유의확률을 0.05로 가정
if ttest_result[1] > .05:
    print("95%% 유의수준에서 유의하지 않음")
else:
    print('95%% 유의수준에서 유의함')

95%% 유의수준에서 유의하지 않음

### 두 변수의 상관관계 분석하기
- corr() 함수 이용
- 유의확률을 구할 수는 없다

In [41]:
corr = df2.corr()
corr

                   income   English  jobSatisfaction    stress
income           1.000000  0.599452        -0.040108 -0.137920
English          0.599452  1.000000        -0.312051  0.073351
jobSatisfaction -0.040108 -0.312051         1.000000  0.165338
stress          -0.137920  0.073351         0.165338  1.000000

In [43]:
df2.income.corr(df2.stress)

-0.13791959796123446

### 회귀분석 알아보기
- statsmodels 패키지 활용

In [44]:
import statsmodels.formula.api as smf

In [47]:
model = smf.ols(formula='jobSatisfaction~English', data=df2) # 따옴표 위치는 종속변수 ~ 독립변수

In [48]:
result = model.fit()

In [51]:
result.summary()
# R-squared : 설명력
# Prob(F-statistic) : 유의확률
# coef :계숫값

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:        jobSatisfaction   R-squared:                       0.097
Model:                            OLS   Adj. R-squared:                  0.054
Method:                 Least Squares   F-statistic:                     2.266
Date:                Wed, 22 Jun 2022   Prob (F-statistic):              0.147
Time:                        13:29:51   Log-Likelihood:                -36.243
No. Observations:                  23   AIC:                             76.49
Df Residuals:                      21   BIC:                             78.76
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.7052      1.615      3.532      0.002       2.346       9.065
English       -0.0039      0.003     -1.505      0.147      -0.009       0.002
==============================================================================
Omnibus:                        0.120   Durbin-Watson:                   0.777
Prob(Omnibus):                  0.942   Jarque-Bera (JB):                0.306
Skew:                          -0.126   Prob(JB):                        0.858
Kurtosis:                       2.495   Cond. No.                     3.90e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""